{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Mon panier</h1>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Quantity</th>
			<th scope="col">Price</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
            {% for product in cart %}
			<td>product.name</td>
			<td>product.quantity</td>
			<td>product.price</td>
            {% endfor %}
		</tr>
	</tbody>
</table>

</div>
{% endblock %}
