*{
  margin: 0;

}

.form-group.field-collection .accordion-item .form-group label {
margin-right: 0.3rem;
width: auto;
}

.perf-form {
  display: flex;
  width: 100%;
  width: min-content;
}

.perf-input{
  width: 70px;
  /* margin-left: 0.3rem; */
}

.repart-input{
  min-width: 50%;
  float: right;
  clear: both;
}
