<footer class="SiteFooter">
	<div class="container">
		<div class="row">
			<div class="d-inline-flex justify-content-between my-0">
				<div class="SiteFooter-logo">
					{% if is_granted('ROLE_ADMIN') %}
						<img src="/images/logo-magnacarta-white.svg" alt="Logo Magnacarta, gestion en patrimoine">
					{% else %}
						<a href="{{path('admin')}}"><img src="/images/logo-magnacarta-white.svg" alt="Logo Magnacarta, gestion en patrimoine"></a>
					{% endif %}
				</div>
				<p>32 rue de la R&eacute;publique  69002 Lyon<br>
					T&eacute;l. 04 37 24 70 70</p>
			</div>
		</div>
	</div>
</footer>
