<tr>
	<th>{{value}}</th>
	{% for item in compare %}
	{% set produit = item.produit %}
		{% for column in attribute(produit, value)|split('<hr />') %}
			<td>{{ column|raw }}</td>
		{% endfor %}
	{% endfor %}
</tr>
