{% extends 'base.html.twig' %}

{% block title %}Le comparateur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="http://localhost:8080/wip.scss">
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
	<script src="http://localhost:8080/wip.js"></script>
{% endblock javascripts %}

{% block content %}
	<div class="main-wrapper">
		<h1>Le Comparateur</h1>
		<div class="compare-result">
			{% if compare is null %}
				<table class="table">
					<tr>
						<th>Aucun produit dans le comparateur</th>
					</tr>
				</table>
			{% else %}
				<table class="table">
					<tr class="bg-secondary bg-gradient text-white">
						<th>IDENTITE</th>
						{% for item in compare %}
							{% for column in item.produit.imageName|split('<hr />') %}
								<td><img src="{{ (column ? vich_uploader_asset(item.produit) : asset('build/images/placeholder.jpg')) | imagine_filter('square_thumbnail_htiny') }}" class="border border-white border-2 ml-2 bg-white"></td>
							{% endfor %}
						{% endfor %}
					</tr>
					{% for key in fieldnames %}
						{% if key == "sharePrice" %}
							<tr class="bg-secondary bg-gradient text-white">
								<th>CHIFFRES CLES</th>
								<td></td>
								<td></td>
							</tr>
						{% elseif key == "investStrat" %}
							<tr class="bg-secondary bg-gradient text-white">
								<th>STRATEGIE</th>
								<td></td>
								<td></td>
							</tr>
						{% elseif key == "subscriptionCom" %}
							<tr class="bg-secondary bg-gradient text-white">
								<th>FRAIS</th>
								<td></td>
								<td></td>
							</tr>
						{% endif %}
						{% include 'traits/_line.html.twig' with {'value': key} %}
					{% endfor %}
				</table>
			{% endif %}
			<p class="d-flex justify-content-around">
				<a href={{ path ('produits') }} class="btn btn-secondary w-50 my-2">Retour aux produits</a>
			</p>
		</div>
	</div>
{% endblock content %}
