{% extends 'base.html.twig' %}

{% block title %}Actu
{% endblock %}

{% block content %}
	<div class="main-wrapper">
		<h1>Actualité</h1>
		<div class="hpl-eft hp-card">
			<h2>{{ actu.title }}</h2>
			<p>{{ actu.content|raw }}</p>
		</div>
	</div>
{% endblock %}
