{% extends 'base.html.twig' %}

{% block title %}Homepage SCIP{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Site SCIP</h1>
    <a href={{ path ('produits') }} class="btn btn-secondary w-50">Voir les produits</a>

</div>
{% endblock %}
